<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>complete responsive food website design tutorial </title>

  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

   

</head>
<body>
    


<header>

    <a href="#" class="logo"><i class="fas fa-utensils"></i>foodiesbite</a>

    <div id="menu-bar" class="fas fa-bars"></div>

    <nav class="navbar">
        <a href="#home">home</a>
        <a href="#speciality">speciality</a>
        <a href="#popular">popular</a>
        <a href="#gallery">gallery</a>
        <a href="#review">review</a>
        <a href="#order">order</a>
    </nav>

</header>


<section class="home" id="home">

    <div class="content">
        <h3>food made with love</h3>
        <p>This website is made for food lovers </p>
        
    </div>

    <div class="image">
        <img src="https://png2.cleanpng.com/sh/00100ba4164995e17441f7982d076fa7/L0KzQYm3UcMxN6Rrj5H0aYP2gLBuTfhidZN6itlucj3rf8W0hP9oNaR0fuY2ZILsfry0hvF0fF5rh9HtLXb1dbBqiL1neppqRehuY4Tygn73gflvfJZpRdRAcnfogn7yif5oNWZmT6JvZkm4dYS7U8g3NmE9TaY5Nki4QYa4V8M2PGo1Sas8MEmxgLBu/kisspng-hamburger-hot-dog-soft-drink-fast-food-french-frie-vector-painted-burger-king-5a70ff95e34386.0854068515173549019309.png" alt="">
    </div>

</section>



<section class="speciality" id="speciality">

    <h1 class="heading"> our <span>speciality</span> </h1>

    <div class="box-container">

        <div class="box">
           
            <div class="content">
                <img src="https://png2.cleanpng.com/sh/a1cb04954c46f9754d4c738d45aa5b42/L0KzQYm3UsA0N5R8j5H0aYP2gLBuTfhidZN6itlucj3meLbskBVjfaNsfeQ2dnXqd7rsTfJ2ephqip9sYYL3f7F1TfNtcaEyeud7Z3X1g37qjPlxaaN5i58AYUe5RYq8V8Nma2JmSZC5OUC8QIeAVME2OWg8SKcANUm1RYi4TwBvbz==/kisspng-hamburger-cheeseburger-veggie-burger-cartoon-clip-burgers-cliparts-5a7659573ec1a1.0909067415177055592571.png" alt="">
                <h3>tasty burger</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore neque amet ipsa tenetur voluptates aperiam tempore libero labore aut.</p>
            </div>
        </div>
        <div class="box">
          
            <div class="content">
                <img src="https://png2.cleanpng.com/sh/0877018e534b27a7bdebed6baa7e04fe/L0KzQYm3UsI3N51BfZH0aYP2gLBuTgBqgqtmRd54Z3AwgrFCgfx1gV5ritduLXnvfMb6lQJifJp0hp95aYr9cX7zjBdwNZpyedluLXzyd7E0lvVkfJD3RadqOUPkSbS9VsE1OWE1RqQDN0K1R4i6UcUyQWc3TqgENEO8SIW1kP5o/kisspng-pizza-logo-royalty-free-illustration-pizza-logo-image-logo-vector-5a93a9c6614100.2872277315196266943984.png" alt="">
                <h3>tasty pizza</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore neque amet ipsa tenetur voluptates aperiam tempore libero labore aut.</p>
            </div>
        </div>
        <div class="box">
           
            <div class="content">
                <img src="https://png2.cleanpng.com/sh/b5483fca78d6ac1d79dded1b480ea4b0/L0KzQYm3VMA3N51ofZH0aYP2gLBuTfdzbZZzReZuYT3sc7a0gCJmaZ4ye9HvZnXoPbrqhb1kepZmhZ9sYXvoPcfojvltdJIyTdNsN3HmRIKBUsJnbGczSaYAOEC7Q4m4VcI0OGQ6SqI6NUO2Q3B3jvc=/kisspng-green-tea-ice-cream-coffee-ice-cream-cake-vanilla-5ac7ac41822fd6.1458083815230352015333.png" alt="">
                <h3>cold ice-cream</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore neque amet ipsa tenetur voluptates aperiam tempore libero labore aut.</p>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <img src="https://png2.cleanpng.com/sh/25a87f8e72df8a1b9eaca77fa92a0bc4/L0KzQYm3UsI3N5Z9fZH0aYP2gLBuTf9zaZ9sfZ9zdXnmdX7ukvFxbZd3jdt9LXr4ebTsTfFxeJ1qRdxAaXPoPbj5ggBmbqN6geY2aoXsc7b6TfNzbZJ5gehuLXPyfbPwjvF1cZDzRadqOUS8RrTsgBUya2Y2RqI9OEW6Q4G3UcUyQWc9T6UCNEi3RIO1kP5o/kisspng-orange-juice-grapefruit-juice-apple-juice-grapefruit-juices-creative-combination-5a9496cece1c51.0485730015196873748442.png" alt="">
                <h3>cold drinks</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore neque amet ipsa tenetur voluptates aperiam tempore libero labore aut.</p>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <img src="https://png2.cleanpng.com/sh/c5ade030d59fe349d5cbd1a50059639f/L0KzQYm3U8I4N6tofZH0aYP2gLBuTgRweqVqRdV4bnboc8XwjB5meqoyj9NvZnzoPb7okv1idJJpfZ9sYXvoPcTAhfV1e146edQEZUK7RontVfMyQF82Sao8NEezQ4K8UsIyO2I6UaIAOEe1PsH1h5==/kisspng-torte-confectionery-waffle-marmalade-cake-sweets-5ab9e2868f5c18.1183470315221315905872.png" alt="">
                <h3>tasty sweets</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore neque amet ipsa tenetur voluptates aperiam tempore libero labore aut.</p>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <img src="https://png2.cleanpng.com/sh/20c83e233d5d3ea1f3edf81070ca43df/L0KzQYm3VMAzN6VtiZH0aYP2gLBuTfNpfaVzfes2aXTveX76jCV1cF5uhtZyYX6wc8bwkBlvbV54ed9rYYKwc7nwjvV0bV5rh9HtLUXkc4LpUPI5a2pqTKoALkW1RIG4VMQ6OWY3Sqg9M0G1SIm5V75xdpg=/kisspng-chutney-idli-south-indian-cuisine-sambar-chinese-food-5ac1b0b8c9e485.524014491522643128827.png" alt="">
                <h3>healty breakfast</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore neque amet ipsa tenetur voluptates aperiam tempore libero labore aut.</p>
            </div>
        </div>

    </div>

</section>


<section class="popular" id="popular">

    <h1 class="heading"> most <span>popular</span> foods </h1>

    <div class="box-container">

        <div class="box">
            <span class="price"> $5 - $20 </span>
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.explicit.bing.net%2Fth%3Fid%3DOIP.fHGHFF3mPQmFoLEfpnru6gHaE8%26pid%3DApi&f=1&ipt=2cff44623d0e2cf0c1e8b4afcc070dcf8d689b9862d1516e4cedc93c1ff39add&ipo=images" alt="">
            <h3>tasty burger</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <a href="#" class="btn">order now</a>
        </div>
        <div class="box">
            <span class="price"> $5 - $20 </span>
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.SW-RLY4LPrwtzqn0hXlB9wHaLH%26pid%3DApi&f=1&ipt=7d14a36cf52396e3ee787295c006b862ea57ef1423a32dd1098377e7e02af0f8&ipo=images" alt="">
            <h3>tasty cakes</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <a href="#" class="btn">order now</a>
        </div>
        <div class="box">
            <span class="price"> $5 - $20 </span>
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.zt2ovMmPHA5x9OR0Hx6D-QHaD7%26pid%3DApi&f=1&ipt=7d9df6d717cc267346dc3e7671ed56677e0d8e709820cd757f7f63706f6cdb80&ipo=images" alt="">
            <h3>tasty sweets</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <a href="#" class="btn">order now</a>
        </div>
        <div class="box">
            <span class="price"> $5 - $20 </span>
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.RTqTDjFBBKIoGBRV6NRrtQHaDi%26pid%3DApi&f=1&ipt=63dff09f72d2d40cc248244e11cf91b86c4d16239f1b25e341899bfd01137da8&ipo=images" alt="">
            <h3>tasty cupcakes</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <a href="#" class="btn">order now</a>
        </div>
        <div class="box">
            <span class="price"> $5 - $20 </span>
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.GrFLVPJ4YU4VeajtPWGDnQHaEo%26pid%3DApi&f=1&ipt=47e08ebbb10b4633b56a12c7c445d6c06794fabc06c1691f26e61672e416ec51&ipo=images" alt="">
            <h3>cold drinks</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <a href="#" class="btn">order now</a>
        </div>
        <div class="box">
            <span class="price"> $5 - $20 </span>
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.revXuKYx0A6NQU1KZTye8wHaHa%26pid%3DApi&f=1&ipt=93a2b37ac9fb69abd0b17644a51b1f94d0245a8f657d68497ef8bd50771ec558&ipo=images" alt="">
            <h3>cold ice-cream</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <a href="#" class="btn">order now</a>
        </div>

    </div>

</section>

<section class="gallery" id="gallery">

    <h1 class="heading"> our food <span> gallery </span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.news18.com%2Fibnlive%2Fuploads%2F2021%2F01%2F1611809725_untitled-design-2021-01-28t095848.087.png&f=1&nofb=1&ipt=986ffeaf64c91e61aa26369f7dc0d796faa9c4d7b69d658b6818da2f1219491f&ipo=images" alt="">
           
        </div>
        <div class="box">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.1SSooYcPis4K1kEwro-4ugHaD4%26pid%3DApi&f=1&ipt=87f79579bb6bc1c7f7060c08c09e1a0820397c04c5c1143b8ed8f50a34e5cb08&ipo=images" alt="">
           
        </div>
        <div class="box">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.wZA1xtCvZB8-KvWCh7ksxQHaLH%26pid%3DApi&f=1&ipt=2add38ba75f7209dfdb5ee91c67837e4889d86b0b8d1b91e42f1e55d6786582b&ipo=images" alt="">
           
        </div>
        <div class="box">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.4DWDOjUNfqabq46o3ZSVpgHaE7%26pid%3DApi&f=1&ipt=b65cb800816756ead32319bed5d86ab9c06d39de8d576d347dff2dc73bec7664&ipo=images" alt="">
           
        </div>
        <div class="box">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fdiscover.fiverr.com%2Fwp-content%2Fuploads%2Fmake-exclusive-high-resolution-food-photography-01bf.jpg&f=1&nofb=1&ipt=e460aca4a3cf650dd6c58177396ea2b6abb12632a08d87b6ddff560d2b0cca57&ipo=images" alt="">
           
        </div>
        <div class="box">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg.choice.com.au%2F-%2Fmedia%2Ff738b5b9623b4c90ad0837f98b0ea96b.ashx&f=1&nofb=1&ipt=643d8a89e1603ead56a6af0427c342f97f998d2fde72cbed50d99c07d9c88199&ipo=images" alt="">
            
        </div>
        <div class="box">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.xohazqa-U9uurqfCqg6dAQHaHa%26pid%3DApi&f=1&ipt=142f017efa3b546e774b4587c0b10b06e334380d0e9049065e8c947d7f69b2e5&ipo=images" alt="">
           
        </div>
        <div class="box">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.kinja-img.com%2Fgawker-media%2Fimage%2Fupload%2Fs--NpjrUAYN--%2Fc_fill%2Cfl_progressive%2Cg_center%2Ch_900%2Cq_80%2Cw_1600%2F18he84c4o1piejpg.jpg&f=1&nofb=1&ipt=b107c7a39f16b2663608ba49809848a4276ee0a97e0eb6ee319ba331ae9c129d&ipo=images" alt="">
            
        </div>
        <div class="box">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.MSZVaXP6mh-JP5qNeTXdEAHaE2%26pid%3DApi&f=1&ipt=ed2f267743da640f626646c411e84282a61d8c1d05927782836791ef0a703ed7&ipo=images" alt="">
           
        </div>

    </div>

</section>


<section class="review" id="review">

    <h1 class="heading"> our customers <span>reviews</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.AI6y3PtSE2f-6Q7JJu_4eAHaEV%26pid%3DApi&f=1&ipt=e64fd99cb6cf033743b881d666d2e89a3a499b81fabbf0c255461978b82fc825&ipo=images" alt="">
            <h3>Pawan kalyan</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti delectus, ducimus facere quod ratione vel laboriosam? Est, maxime rem. Itaque.</p>
        </div>
        <div class="box">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.FvlVhyKkh8_t5HtWE3XOKwHaEc%26pid%3DApi&f=1&ipt=3cb24ae2b418b03ed59463a6df21a14d48589c44ccbcf3e8db40468201a41435&ipo=images" alt="">
            <h3>Lionel Messi</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti delectus, ducimus facere quod ratione vel laboriosam? Est, maxime rem. Itaque.</p>
        </div>
        <div class="box">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.FgVsCT05w-Tow7Tz0p3_hwHaEK%26pid%3DApi&f=1&ipt=2496604c2aa49aace0dbf96306e8a1d14a2f7d9aa41c9a9cf0da573a58061d51&ipo=images" alt="">
            <h3>Cristiano Ronaldo</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti delectus, ducimus facere quod ratione vel laboriosam? Est, maxime rem. Itaque.</p>
        </div>

    </div>

</section>



<section class="order" id="order">

    <h1 class="heading"> <span>order</span> now </h1>

    <div class="row">
        
        <div class="image">
            <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwaterfordwhispersnews.com%2Fwp-content%2Fuploads%2F2014%2F03%2Fwaitress_taking-order_-restaurant_iStock_000025723959XSmall_0.jpg&f=1&nofb=1&ipt=1f89729e698e1175f2cc85f5120f85baf743e2c08f6d77993e77bc51bb730efb&ipo=images" alt="">
        </div>

        <form action="">

            <div class="inputBox">
                <input type="text" placeholder="name">
                <input type="email" placeholder="email">
            </div>

            <div class="inputBox">
                <input type="number" placeholder="number">
                <input type="text" placeholder="food name">
            </div>

            <textarea placeholder="address" name="" id="" cols="30" rows="10"></textarea>

            <input type="submit" value="order now" class="btn">

        </form>

    </div>

</section>



<section class="footer">

    <div class="share">
        <a href="#" class="btn">facebook</a>
        <a href="#" class="btn">twitter</a>
        <a href="#" class="btn">instagram</a>
        <a href="#" class="btn">pinterest</a>
        <a href="#" class="btn">linkedin</a>
    </div>

    <h1 class="credit"> by <span> mr. krishna </span> | all rights reserved! </h1>

</section>


<a href="#home" class="fas fa-angle-up" id="scroll-top"></a>

</body>
</html>



<router-outlet></router-outlet>

<router-outlet></router-outlet>